<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>
        <%=user%>的说说</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <% include header.ejs %>
        <% if(login){ %>
            <div class="jumbotron">
                <div class="container">
                    <p>
                        写下想说的
                    </p>
                    <div class="alert alert-success" role="alert" id="success">
                        <a href="#" class="alert-link">发表成功！</a>
                    </div>
                    <textarea id="content" cols="80" rows="4" name="content"></textarea>
                    <br>
                    <button type="button" id="deliver" class="btn btn-success">发表说说</button>
                </div>
            </div>
            <% } %>
                <div class="container">
                    <img src="/avatar/<%= avatar %>" alt="" class="avatar" />
                    <h1>
                        <%=user%>的个人主页</h1>
                    <div class="row col-lg-6">
                        <% for(var i = 0 ; i < contents.length ; i++){ %>
                            <div class="one">
                                <p>
                                    <%=contents[i].content%>
                                </p>
                                <p>
                                    <%=contents[i].datetime%>
                                </p>
                            </div>
                            <%}%>
                    </div>
                </div>

                <hr>

                <footer>
                    <p class="text-center">&copy; leeper 2017</p>
                </footer>
                </div>
                <script src="/js/ajax.js"></script>
                <script src="/js/user_post.js"></script>
                <script src="/js/jquery.min.js"></script>
                <script src="/js/bootstrap.min.js"></script>

</body>

</html>